[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
openai = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
django-cockroachdb = "*"
gunicorn = "*"
whitenoise = "*"
django-filter = "*"

[dev-packages]
django-extensions = "*"
ipython = "*"

[requires]
python_version = "3.10"
